<div class="container mt-5">
  <div class="card rounded-4">
    <img class="placeholder bg-light card-img-top" style="height: 350px; border-radius: 0.5rem 0.5rem 0 0">
    <div class="card-body">
      <h5 class="card-title">Producto de ejemplo</h5>
      <p class="card-text">Texto de prueba para probar como se vería en la realidad. aquí debería ir la descripción del producto/servicio</p>
    </div>
  </div>
</div>
<div class="container my-5">
  <h3 class="fw-bold">Categorías</h3>
  <div class="filtros">
    <button type="button" class="my-1 btn btn-danger text-white rounded-3">Todos</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Cuidado corporal</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Limpieza</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Cosmética</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Bebidas</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Entretenimiento</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Moda</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Finanzas</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Alimentación</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Cuidado del cabello</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Snacks</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Supermercado</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Tecnología</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Productos farmacéuticos</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Personas famosas</button>
    <button type="button" class="my-1 btn btn-light rounded-3">Otros</button>
  </div>
  <h4 class="fw-bold mt-3">Datos</h4>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card rounded-4" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">Empresa X</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <small class="text-secondary">Av. Manquehue Norte 958, Santiago</small>
          <a href="#" class="btn btn-success rounded-3 mt-2">Contactar</a>
          <a href="#" class="btn btn-light mt-2">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">KT-22</h5>
          <p class="card-text">Desarrollo de software a pedido para empresas. Mejora los procesos de tu empresa con tecnología.</p>
          <small class="text-secondary">Av. Manquehue Norte 958, Santiago</small>
          <a href="#" class="btn btn-success rounded-3 mt-2">Contactar</a>
          <a href="#" class="btn btn-light mt-2">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">Empresa A</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <small class="text-secondary">Av. Manquehue Norte 958, Santiago</small>
          <a href="#" class="btn btn-success rounded-3 mt-2">Contactar</a>
          <a href="#" class="btn btn-light mt-2">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">Empresa Z</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <small class="text-secondary">Av. Manquehue Norte 958, Santiago</small>
          <a href="#" class="btn btn-success rounded-3 mt-2">Contactar</a>
          <a href="#" class="btn btn-light mt-2">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">Empresa W</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <small class="text-secondary">Av. Manquehue Norte 958, Santiago</small>
          <a href="#" class="btn btn-success rounded-3 mt-2">Contactar</a>
          <a href="#" class="btn btn-light mt-2">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
