<div style="height: 350px;" class="container mt-5">
  <h2>La comunidad árabe más grande de Latinoamérica</h2>
  <p>Ya recibimos tus comentarios</p>
  <%= link_to "Volver al inicio", root_path, class: "btn btn-success text-white" %>
</div>
<%= render "shared/footer" %>
